* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'News Cycle', sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

main {
    display: flex;
}

h1 {
    color: #0974b3;
}

div {
    color: #666;
}

img {
    float: left;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

p {
    padding: 5px;
    font-size: 19px;
}

article {
    padding: 20px;
    margin: 10px;
    padding-bottom: 50px;
    border-radius: 0 0 10px 10px;
    width: 350px;
    height: 100%;
    background: white;
    border-top: 5px solid rgba(128, 128, 128, 0.25);
}

a {
    background: #0974b3;
    color: white;
    text-decoration: none;
    padding: 20px 115px ;
    border-radius: 20px 0px;
    font-size: 16px;
    cursor: pointer;
    
}